    <div class="row justify-content-center py-4">
            <div class="col-9">
                <div class="card mb-3 article-card">
                    <div class="row">
                        <div class="col-3 m-3">
                            <img src="https://via.placeholder.com/200" class="img-fluid" alt="...">
                        </div>
                        <div class="col-6">
                            <div class="card-body">
                                <h5 class="btn card-title">{{title}}</h5>
                                <p class="card-text">{{english}}</p>
                            </div>
                        </div>
                        <div class="col-1 my-auto mr-5">
                            <div class="btn-group-vertical" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-warning">Update</button>
                                <button type="button" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>