form.signup,
form.login {
  margin-top: 50px;
}
body {
  background-color: #E3FBE3;
}
.container {
  background-color: #FFFEFD;
  min-height: 100vh;
}
h1 {
  font-family: 'Orbitron', sans-serif;
  color: white;
  text-shadow: 2px 2px 2px darkgreen, 4px 4px 4px green, 8px 8px 8px lightgreen;
}

.jumbotron {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  height: 100%;
}

.jumbotron.img {
  filter: grayscale(90%);
}